<!DOCTYPE html>
<html>
<head>
    <title>{{ producto.nombre }}</title>
</head>
<body>
    <h1>{{ producto.nombre }}</h1>
    <p>{{ producto.descripcion }}</p>
    <p>Precio: {{ producto.precio }} €</p>
    <form action="{{ url_for('agregar_carrito', producto_id=producto.id) }}" method="post">
        <input type="number" name="cantidad" value="1" min="1">
        <input type="submit" value="Agregar al Carrito">
    </form>
<div class="message-flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set category, message = messages[-1] %}  <!-- Obtener el último mensaje -->
            <p class="flash-message-text {{ category }}">{{ message }}</p>
        {% endif %}
    {% endwith %}
</div>
    <a href="{{ url_for('index') }}">Volver a la tienda</a>
</body>
</html>
