{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Términos y Condiciones</h2>
    <p>Bienvenido a Sala Sax. Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de Sala Sax.</p>
    <p>Al acceder a este sitio web, asumimos que aceptas estos términos y condiciones en su totalidad. No continúes usando el sitio web de Sala Sax si no aceptas todos los términos y condiciones establecidos en esta página.</p>
    
    <h3>Licencia</h3>
    <p>A menos que se indique lo contrario, Sala Sax y/o sus licenciatarios poseen los derechos de propiedad intelectual de todo el material en Sala Sax. Todos los derechos de propiedad intelectual están reservados. Puedes ver y/o imprimir páginas de https://www.salax.com para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones.</p>
    
    <h3>Usos Permitidos</h3>
    <ul>
        <li>Redistribuir contenido de Sala Sax (a menos que el contenido esté específicamente hecho para la redistribución).</li>
    </ul>

    <h3>Comentarios de Usuarios</h3>
    <p>Este acuerdo comenzará en la fecha aquí indicada. Algunas partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e intercambiar opiniones, información, material y datos ('Comentarios') en áreas del sitio web. Sala Sax no filtra, edita, publica ni revisa Comentarios antes de su aparición en el sitio web y los Comentarios no reflejan los puntos de vista o opiniones de Sala Sax, sus agentes o afiliados. Los Comentarios reflejan el punto de vista y opinión de la persona que publica dicho punto de vista u opinión. En la medida en que lo permita la legislación aplicable, Sala Sax no será responsable de los Comentarios ni de ningún coste de pérdida, responsabilidad, daños o gastos causados o sufridos como resultado de cualquier uso de y/o publicación de y/o aparición de los Comentarios en este sitio web.</p>
    
    <h3>Enlaces a Otros Sitios Web</h3>
    <p>Nuestro sitio web puede contener enlaces a sitios web de terceros que no son propiedad ni están controlados por Sala Sax. Sala Sax no tiene control sobre, y no asume ninguna responsabilidad por, el contenido, las políticas de privacidad o las prácticas de cualquier sitio web de terceros. Te recomendamos que leas los términos y condiciones y las políticas de privacidad de cualquier sitio web de terceros que visites.</p>

    <h3>Cambios a estos Términos y Condiciones</h3>
    <p>Nos reservamos el derecho, a nuestra discreción, de modificar o reemplazar estos Términos en cualquier momento. Si una revisión es material, intentaremos proporcionar al menos 30 días de aviso antes de que entren en vigor los nuevos términos. Lo que constituye un cambio material será determinado a nuestra discreción.</p>

    <h3>Contacto</h3>
    <p>Si tienes alguna pregunta sobre estos Términos, por favor contáctanos.</p>
</div>
{% endblock %}
